[Unit]
Description=Run Rover Robotics Jazzy Container at boot
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=simple
User=rover
Group=rover
WorkingDirectory=/home/rover
Environment="ROS_DOMAIN_ID=42"
Environment="ROS_AUTOMATIC_DISCOVERY_RANGE=SUBNET"
Environment="DISPLAY=localhost:10.0"
Environment="XAUTHORITY=/home/rover/.Xauthority"
ExecStart=/bin/bash /home/rover/Docker/run_rover_rover_jazzy_con.sh
ExecStop=/usr/bin/docker stop rover-jazzy-con
TimeoutStopSec=30
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
